[submodule "vim/bundle/tpope-vim-pathogen"]
	path = vim/bundle/tpope-vim-pathogen
	url = https://github.com/tpope/vim-pathogen
    ignore = dirty
[submodule "vim/bundle/kien-ctrlp"]
	path = vim/bundle/kien-ctrlp
	url = https://github.com/kien/ctrlp.vim.git
    ignore = dirty
[submodule "vim/bundle/msanders-snipmate"]
	path = vim/bundle/msanders-snipmate
	url = https://github.com/msanders/snipmate.vim.git
    ignore = dirty
[submodule "vim/bundle/altercation-vim-colors-solarized"]
	path = vim/bundle/altercation-vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/groenewege-vim-less"]
	path = vim/bundle/groenewege-vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/hail2u-vim-css3-syntax"]
	path = vim/bundle/hail2u-vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "vim/bundle/vim-scripts-aspnetcs"]
	path = vim/bundle/vim-scripts-aspnetcs
	url = https://github.com/vim-scripts/aspnetcs.git
[submodule "vim/bundle/Lokaltog-vim-powerline"]
	path = vim/bundle/Lokaltog-vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule "vim/bundle/othree-html5-syntax"]
	path = vim/bundle/othree-html5-syntax
	url = https://github.com/othree/html5-syntax.vim
[submodule "vim/bundle/vim-scripts-indentpython"]
	path = vim/bundle/vim-scripts-indentpython
	url = https://github.com/vim-scripts/indentpython.vim.git
[submodule "vim/bundle/jelera-vim-python-syntax"]
	path = vim/bundle/jelera-vim-python-syntax
	url = https://github.com/jelera/vim-python-syntax
[submodule "vim/bundle/vim-scripts-argtextobj"]
	path = vim/bundle/vim-scripts-argtextobj
	url = https://github.com/vim-scripts/argtextobj.vim
[submodule "vim/bundle/michaeljsmith-vim-indent-object"]
	path = vim/bundle/michaeljsmith-vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "vim/bundle/mrtazz-molokai"]
	path = vim/bundle/mrtazz-molokai
	url = https://github.com/mrtazz/molokai.vim.git
[submodule "vim/bundle/sleistner-vim-jshint"]
	path = vim/bundle/sleistner-vim-jshint
	url = https://github.com/sleistner/vim-jshint
[submodule "vim/bundle/sjl-vim-sparkup"]
	path = vim/bundle/sjl-vim-sparkup
	url = https://github.com/sjl/vim-sparkup.git
