[submodule "vim/bundle/tpope-vim-pathogen"]
	path = vim/bundle/tpope-vim-pathogen
	url = https://github.com/tpope/vim-pathogen
    ignore = dirty
[submodule "vim/bundle/kien-ctrlp"]
	path = vim/bundle/kien-ctrlp
	url = https://github.com/kien/ctrlp.vim.git
    ignore = dirty
[submodule "vim/bundle/msanders-snipmate"]
	path = vim/bundle/msanders-snipmate
	url = https://github.com/msanders/snipmate.vim.git
    ignore = dirty
[submodule "vim/bundle/altercation-vim-colors-solarized"]
	path = vim/bundle/altercation-vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
