[submodule "vim/bundle/tpope-vim-pathogen"]
	path = vim/bundle/tpope-vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/kien-ctrlp"]
	path = vim/bundle/kien-ctrlp
	url = https://github.com/kien/ctrlp.vim.git
